* {
  box-sizing: border-box;
}

body {
	background: #7aae4b;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 20px;
}

#main {
	max-width: 800px;
	max-height: 1600px;
	background: #212121;
	margin: 0 auto;
}

#display {
	padding: 2em 1em;
}
#display input {
	max-width: 100%;
	text-align: right;
	font-size: 5em;
	background: transparent;
    border: none;
    color: #DBDBDB;
}

#buttons {
	clear: both;
	color: #3F4044;
}
.btn {
	float: left;
	width: 25%;
	text-align: center;
	font-size: 2.5em;
	background: #D1D2D4;
	border: 1px solid #8F9092;
	/*padding: 1em 0;*/
	height: 120px;
	cursor: pointer;
}
.btn:hover {
	/*border-width: 3px;*/
	background: radial-gradient(#D1D2D4, #b7b8bb);
}
.btn:nth-last-child(4) {
	border-right: none;
}
.btn:nth-last-child(3) {
	border-left: none;
}
.btn:first-child, .btn:nth-child(2), .btn:nth-child(3) {
	background: #C7C8CA;
	font-size: 1.474em;
	/*padding: 2.1em 0;*/
}
.btn:first-child:hover, .btn:nth-child(2):hover, .btn:nth-child(3):hover {
	background: radial-gradient(#C7C8CA, #adaeb1);
}
.btn:nth-child(4n) {
	background: #F57F29;
	color: #FBD58D;
}
.btn:nth-child(4n):hover {
	background: radial-gradient(#F57F29, #e1650a);
}
