body {
	font-family: 'Source Sans Pro', sans-serif;
}

div.tabComponent {
	border: 1px solid #CFD6D6;
	max-width: 600px;
    min-height: 200px;

}


/* Selector #1  */
div.tabComponent input {
	display: none;
}

/* Selector #2  */
div.tabComponent label {
	font-weight: 700;
	background: #F7F7F7;
	cursor: pointer;
	display: block;
	padding: 4px 8px;
}

div.tabComponent input:checked + label {
	background: white;/*#7B8DAB;*/	
	border-top: 2px solid #FDB630;
}

div.tabComponent input:checked ~ div.content {
	display: block;
}

div.tabComponent ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

div.tabComponent li {
	float: left;
}
div.tabComponent ul:after {
	clear: both;
    content: " ";
    height: 0;
    display: block;
}

div.tabComponent li div.content {
	display: none;
	position: absolute;
	left: 0;
}
