* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;

}
/* Div for whole tab ara */
div.tabComponent {
	max-width: 600px;
    /*min-height: 200px;*/
    border-left: 1px solid #CFD6D6;
}

div.tabComponent ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

div.tabComponent li {
	float: left;
}


/* Radio input for toggling  */
div.tabComponent input {
	display: none;
}

/* Label for tab name  */
div.tabComponent label {
	font-weight: 700;
	background: #F7F7F7;
	cursor: pointer;
	display: block;
	padding: 4px 8px 6px;
	border-right: 1px solid #CFD6D6;
	border-top: 1px solid #CFD6D6;
	color: #303336;
}

/* Label of tab that has radio button checked */
div.tabComponent input:checked + label {
	background: white;/*#7B8DAB;*/	
	border-top: 2px solid #FDB630;
	padding-top: 3px;
	position: relative;
    z-index: 1;
}

/* Content area for each tab */
div.tabComponent li div.content {
	display: none;
	background: white;
	position: absolute;
	left: -1px;
	top: 30px;
	padding: 10px 15px;
	border: 1px solid #CFD6D6;
	width: 100%;
}

/* Div under radio button that's checked */
div.tabComponent input:checked ~ div.content {
	display: block;
}


div.tabComponent ul:after {
	clear: both;
    content: " ";
    height: 0;
    display: block;
}


