body {
	font-family: 'Source Sans Pro', sans-serif;
}

div.tabComponent {
	border: 1px solid #CFD6D6;
	max-width: 600px;
    min-height: 200px;
}

/* Selector #1  */
div.tabComponent input {
	display: none;
}

/* Selector #2  */
div.tabComponent label {
	font-weight: 700;
	background: #D9DFE9;
	cursor: pointer;
}

div.tabComponent input:checked + label {
	background: #7B8DAB;	
	border-top: 2px solid #FDB630;
}



div.tabComponent ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

div.tabComponent li {
	float: left;
}

div.tabComponent li div.content {
	position: absolute;
	top: 300px;
}